@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './typography.scss';

html,
body {
  font-family: Lato;
}

.content-container {
  @apply w-full mx-auto my-0 max-w-[1200px] px-4 lg:px-0;
}

.button {
  @apply bg-brand-primary py-4 px-8 text-white text-lg font-bold font-josefin rounded hover:bg-brand-secondary transition-colors active:bg-brand-heading;
}

.link {
  @apply text-brand-primary underline font-medium underline-offset-4 hover:text-brand-primary transition-colors;
}

.lock-scroll {
  overflow-y: hidden;
}

.logo-text {
  @apply font-josefin text-4xl text-brand-heading font-bold
}
